body {
    font-family: serif;
    width: 990px;
}

li {
    list-style: none;   
}

a {
     text-decoration:none;
     color: #003300;
 }
 

header {
     height: 80px;
     width: 100%;
     position: flexed;
     top: 0;
     z-index: 10;
     padding: 0 213px; 

     /*background-color:rgb(223, 247, 91);visibility: visible;*/
}

.header-list {
     display: flex;
     padding-left: 10px;
     padding-right: 30px;
     justify-content: space-between;
     line-height: 80px;
}

footer {
     height: 100px;
     width: 100%;
     position: flexed;
     bottom: 0;
     z-index: 10;
     padding: 0 213px; 

     /*background-color:rgb(223, 247, 91);visibility: visible;*/
}


.f-m {
     text-align: center;
     color: #003300;
     padding-top: 10px;   
}

/* ここから個別*/

main {
     height: 620px;
     width: 100%;
     padding: 0 213px;
     background-image: url(https://github.com/AZUP1010/AZUP1010.github.io/blob/main/DSCF0100.jpg?raw=true);
}


.copy {
     text-align: center;
     padding-top: 100px;
}

.copy h1 {
     font-size: 100px;
     color: white;
}

.copy h2 {
     font-size: 80px;
     color: white;
}

/*.picture {
    height: 80px;
    width: 120px;
}*/
